.case_study_container {
    max-width: 100%; 
    margin: 0 auto
}

.case_study_container-content {
    max-width: 100%;
    margin: 0 auto; 
    background: white;
}

.case_study_container-items {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px
}

.case_study_header {
    margin-bottom: 1rem;
    text-align: center;
}
.case_study_header > div {
    color: #7a3ca3;
    margin-top: -10px;
}


.case_study_container-item {
    text-align: left;
    padding: 1rem;
    width: 100%;
}



.case_study_challenge,
.case_study_solution {
    border-right: 0px;
}

.case_study_challenge h3,
.case_study_solution h3,
.case_study_impact h3 {
    color: #7a3ca3;
}

.case_study_impact div {
    font-weight: bold;
    color: #000000;
    font-size: 1.4rem;
}

@media(min-width:1200px){
    .case_study_container-items {
        flex-wrap: nowrap; 
    }
    .case_study_container-item {
        width: 50%;
    }

    .case_study_challenge,
    .case_study_solution {
        border-right: 2px solid rgb(224, 197, 243)
    }

    .case_study_header {
        text-align: left;
    }
}

/*==========================*/

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}


.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #7a3ca3;
  height: 12px;
  width: 12px;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
