.circle-container {
    width: 500px;
    height: 370px;
    border-radius: 8px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.first{
    border:3px dotted #29b5e8;
}
.second{
    border:3px dotted #ee3d2c;
}
.third{
    border:3px dotted #9ccaeb;
}

.circle-container h5 {
    font-size: 1.2rem;
}

.circle-container p {
    font-size: 0.9rem;
}

@media screen and (max-width:576px) {
    .circle-container{
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab{
    width:200px;
    padding: 9px;
    background-color: #ccc9c9;
    border: none;
    box-shadow: #2d4c6d;
    font-weight: bold;
}

.tab:focus{
    outline: none;
}

.active-tab{
    background-color:#353535 ;
    color: white;
}
.active-tab:focus{
    border: none;
}
.tab1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid #ffffff;
}
.tab2{
    border-right: 2px solid #ffffff;
}
.tab3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-logo-name{
    display: flex;
}
.icon{
    width: 30px;
    height: 30px;
    color: #29b5e8;
}
.domoverse-product-card {
    padding: 1.5rem;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: #010521;
    background-color: white
}
.snowgo-card-title{
    color: #29b5e8;
    font-size: 19px;
}
.databricks-card-title{
    color: #ee3d2c;
    font-size: 19px;
}
.domo-card-title{
    color: #909fd7;
    font-size: 19px;
}
.databricks-icon{
    width: 30px;
    height: 30px;
    color: #ee3d2c;
}
.domo-icon{
    width: 30px;
    height: 30px;
    color: #909fd7;
}