.architecture-image-container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem 0;
}

.architecture-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Add these styles to your infobeam.css file */
.product-card {
  padding: 1.5rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  color: white;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* .product-card.red {
  background: linear-gradient(140deg, #1f1e35, #f0762a);
} */
.product-card.red {
  background: #f18631;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #010521;
}

.card-content {
  font-size: 0.9rem;
}

.feature-block {
  margin-bottom: 1rem;
}

.feature-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.feature-list {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.feature-list li {
  margin-bottom: 0.5rem;
  position: relative;
}

.feature-list li:before {
  content: "•";
  position: absolute;
  left: -1rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-card {
      padding: 1.25rem;
  }
  
  .card-title {
      font-size: 1.1rem;
  }
  
  .card-content {
      font-size: 0.85rem;
  }
}
