/* domo_app */


.domo_app-section{
  /* background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* padding: 277px 0 254px; */
}
.domo_app-section::before{
  content: "";
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 0 0 600px;
  /* background: var(--e-global-color-very-dark-mostly-black-blue); */

}
/* .domo_app-section::after{
  content: ""; */
  /* background-image: url('../images/about-background.jpg'); */
  /* border-radius: 0 0 0 600px;
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 10%;
} */

/* .domo_app-section {
    position: relative;
    padding: 130px 0 150px;
    overflow: hidden;
} */
.domo_app-section .domo_app-leftlayer{
  position: absolute;
  top: 0;
  left: 116px;
}
.domo_app-section .domo_app-rightlayer{
  position: absolute;
  bottom: -20px;
  right: 112px;
}
.domo_app-section .domo_app-dotimage{
  position: absolute;
  left: 334px;
  bottom: 102px;
}
.domo_app-section .domo_app-box h4{
  padding-right: 65px;
}
.domo_app-section .domo_app-box p{
  margin-bottom: 10px;
  color: var(--e-global-color-text);
}
.domo_app-section .domo_app_contentbox .box-top {
  padding-top: 37px;
}
.domo_app-section .domo_app_contentbox .domo_app-box {
  background: var(--e-global-color-white);
  border-radius: 10px;
  padding: 38px 24px 28px 30px;
  margin-bottom: -12px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 1px 21px 46px rgb(0 0 0 / 4%); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* .domo_app-section .domo_app_contentbox .domo_app-box:hover {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  transform: translateY(-5px);
}
.domo_app-section .domo_app-box:hover h4{
  color: var(--e-global-color-white);
} 
.domo_app-section .domo_app-box:hover p{
  color: var(--e-global-color-white);
}  */
.domo_app-section .domo_app_contentbox .domo_app-box figure {
  background: var(--e-global-color-very-pale-orange);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 4px;
  transition: all 0.3s ease-in-out;
}
.domo_app-section .domo_app_contentbox .domo_app-box figure:hover {
  transform: translateY(-5px);
}
.domo_app-section .domo_app-box:hover figure{
  background: var(--e-global-color-bright-orange);
}
.domo_app-section .domo_app-box:hover img{
  filter: brightness(0) invert(1);
}
.domo_app-section .domo_app-box .circle {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  border-radius: 100px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  margin-left: -2px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.domo_app-section .domo_app-box .circle:hover {
  transform: translateY(-5px);
}
.domo_app-section .domo_app-box:hover .circle {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 51%, #ffffff 100%);
}
.domo_app-section .domo_app-box .circle:before {
  font-size: 18px;
  padding-top: 2px;
  font-family: 'FontAwesome';
  transition: all 0.3s ease;
  color: var(--e-global-color-white);
}
.domo_app-section .domo_app-box:hover .circle:before {
  color: var(--e-global-color-accent);
}
.domo_app-section .domo_app_content .domo_app-rightcircle{
  position: absolute;
  right: -38px;
  top: 162px;
}
.domo_app-section .domo_app_content{
  padding-left: 48px;
  padding-top: 194px;
  color: #000000;
}
.domo_app-section .domo_app_content h2{
  margin-bottom: 18px;
  padding-right: 10px;
  color: #000000;

}
.domo_app-section .domo_app_content p{
  margin-bottom: 12px;
  color: #000000;
}

.domo_app-section .domo_app_content .text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--e-global-color-primary);
}
.domo_app-section .domo_app_content .text:hover{
  color: var(--e-global-color-secondary);
}
.domo_app-section .domo_app_content ul li .circle {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  border-radius: 100px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  margin-right: 12px;
  margin-left: 0;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.domo_app-section .domo_app_content ul li .circle:before {
  font-size: 12px;
  padding-top: 2px;
  font-family: 'FontAwesome';
  transition: all 0.3s ease;
  color: var(--e-global-color-white);
}
.domo_app-section .domo_app_content .text1 {
  margin-bottom: 36px;
}
.domo_app-section .domo_app_content .get_started{
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 30px;
  padding: 15px 25px 15px 43px; 
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.domo_app-section .domo_app_content .get_started figure {
  display: inline-block;
  margin-left: 16px;
}
.domo_app-section .domo_app_content .get_started:hover{
  background-image: linear-gradient(to right, var(--e-global-color-desaturated-blue) 0%, var(--e-global-color-desaturated-blue) 100%);
}


@media screen and (max-width: 1440px){
.domo_app-section {padding: 0px 0;}
.domo_app-section .domo_app-leftlayer {left: 78px;}
.domo_app-section .domo_app-dotimage {left: -8px; bottom: 78px;}
.domo_app-section .domo_app-rightlayer {bottom: -172px; right: 82px;}
}

@media only screen and (max-width : 1199px){
.domo_app-section {padding: 0px 0 120px;}
.domo_app-section .domo_app-leftlayer {left: 44px;}
.domo_app-section .domo_app-leftlayer img{width: 160px;}
.domo_app-section .domo_app-rightlayer  {bottom: -168px; right: 20px;}
.domo_app-section .domo_app-rightlayer img {width: 170px;}
.domo_app-section .domo_app-dotimage {left: -8px; bottom: 90px;}
.domo_app-section .domo_app-dotimage img{width: 130px;}
.domo_app-section .domo_app_contentbox .domo_app-box {padding: 20px 12px; margin-bottom: -15px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure {height: 90px; width: 90px; line-height: 90px; margin-bottom: 15px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure img{width: 52px;}
.domo_app-section .domo_app-box h4 {padding-right: 65px; margin-bottom: 4px;}
.domo_app-section .domo_app-box .circle {height: 42px; width: 42px; line-height: 42px; margin-left: 0px;}
.domo_app-section .domo_app_content {padding-left: 0; padding-top: 170px;}
.domo_app-section .domo_app_content h6 {margin-bottom: 0;}
.domo_app-section .domo_app_content h2 {margin-bottom: 5px; padding-right: 30px;}
.domo_app-section .domo_app_content p {margin-bottom: 6px;}
.domo_app-section .domo_app_content ul li .circle {height: 16px; width: 16px; line-height: 16px; margin-right: 8px;}
.domo_app-section .domo_app_content ul li .circle:before {font-size: 10px; padding-top: 0;}
.domo_app-section .domo_app_content .text {font-size: 18px; line-height: 26px;}
.domo_app-section .domo_app_content .text1 {margin-bottom: 28px;}
.domo_app-section .domo_app_content  .get_started {font-size: 18px; line-height: 26px; padding: 12px 18px;}
.domo_app-section .domo_app_content .get_started figure {margin-left: 6px;}
.domo_app-section .domo_app_content .domo_app-rightcircle {right: 20px; top: 48px;}
.domo_app-section .domo_app_content .domo_app-rightcircle img{width: 44px;}
}

@media only screen and (max-width : 991px) {
  .domo_app-section {padding: 0px 0;}
.domo_app-section .domo_app-rightlayer {display: none;}
.domo_app-section .domo_app-dotimage {display: none;}
.domo_app-section .domo_app_content h6 {margin-bottom: 4px;}
.domo_app-section .domo_app_content .text {font-size: 16px; line-height: 24px;}
.domo_app-section .domo_app_contentbox{position: relative; z-index: 0;}
.domo_app-section .domo_app_contentbox .domo_app-box {padding: 20px; margin-bottom: -20px; text-align: center;}
.domo_app-section .domo_app-box h4 {padding-right: 0; margin-bottom: 4px;}
.domo_app-section .domo_app-box p {margin-bottom: 14px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure {height: 85px;width: 85px; line-height: 85px; margin-bottom: 10px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure img {width: 50px;}
.domo_app-section .domo_app-box .circle {height: 40px; width: 40px; line-height: 40px;}
.domo_app-section .domo_app-box .circle:before {font-size: 16px; padding-top: 0;}
.domo_app-section .domo_app_content {padding-top: 85px; text-align: center;}
.domo_app-section .domo_app_content .domo_app-rightcircle {top: 100px;}
.domo_app-section .domo_app_content h2 {margin-bottom: 10px; padding: 0 154px;}
.domo_app-section .domo_app_content p {margin-bottom: 10px; padding: 0 60px;}
.domo_app-section .domo_app_content .text1 {margin-bottom: 25px;}
.domo_app-section .domo_app_content ul li .circle {display: none;}
.domo_app-section .domo_app_content .get_started {font-size: 16px; line-height: 24px; padding: 10px 16px;}
}


@media only screen and (max-width : 767px){
  .domo_app-section {padding: 0px 0;}
.domo_app-section .domo_app-leftlayer img {width: 140px;}
.domo_app-section .domo_app_contentbox .domo_app-box {padding: 15px 10px; margin-bottom: -18px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure {height: 80px; width: 80px; line-height: 80px; margin-bottom: 10px;}
.domo_app-section .domo_app_contentbox .domo_app-box figure img {width: 45px;}
.domo_app-section .domo_app-box p {margin-bottom: 15px;}
.domo_app-section .domo_app-box .circle {height: 35px; width: 35px; line-height: 35px;}
.domo_app-section .domo_app-box .circle:before {font-size: 14px;}
.domo_app-section .domo_app_content {padding-top: 60px;}
.domo_app-section .domo_app_content h2 {padding: 0 90px;}
.domo_app-section .domo_app_content p {margin-bottom: 10px; padding: 0;}
.domo_app-section .domo_app_content ul {padding-left: 22px;}
.domo_app-section .domo_app_content .text {font-size: 14px; line-height: 20px;}
.domo_app-section .domo_app_content .text1 {margin-bottom: 18px;}
.domo_app-section .domo_app_content .get_started {font-size: 14px; line-height: 20px; padding: 10px 24px;}
.domo_app-section .domo_app_content .get_started figure {margin-left: 4px;}
.domo_app-section .domo_app_content .get_started figure img{width: 16px;}
.domo_app-section .domo_app_content .domo_app-rightcircle img {width: 35px;}
}

@media only screen and (max-width : 575px){
  .domo_app-section {padding: 0px 0 60px;}
  .domo_app-section .domo_app-leftlayer img {width: 120px;}
.domo_app-section .domo_app_content {padding-top: 30px;}
.domo_app-section .domo_app_content h2 {padding: 0; margin-bottom: 5px;}
.domo_app-section .domo_app_content p {margin-bottom: 14px; padding: 0;}
.domo_app-section .domo_app_content .text {font-size: 14px; line-height: 22px;}
.domo_app-section .domo_app_content ul {padding-left: 0;}
.domo_app-section .domo_app_content .domo_app-rightcircle {display: none;}
.domo_app-section .domo_app_contentbox .box-top {padding-top: 0;}
.domo_app-section .domo_app_contentbox .domo_app-box {padding: 15px 10px; margin-bottom: 16px;}
}


/* DESIGN 2 */
.design_two{
  position: relative;
  padding: 0 0 80px 0;
}
.design_two .offer-toplayer{
  position: absolute;
  left: -36px;
  top: 0;
}
.design_two .offer-bottomlayer{
  position: absolute;
  right: 0;
  bottom: 0;
}
.design_two .blog_content{
  position: relative;
  text-align: center;
}
.design_two .blog_content h2{
  margin-bottom: 18px;
}
.design_two .blog_content p{
  padding: 0 150px;
  margin-bottom: 40px;
}
.design_two .blog_content .offer-circleimage{
  position: absolute;
  right: -90px;
  top: 138px;
}
.design_two .blog_boxcontent{
  width: 100%;
  border-radius: 10px;
  background: var(--e-global-color-white);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px;
}
/* .design_two .blog_boxcontent:hover{
  background: var(--e-global-color-desaturated-blue);
} */
/* .design_two .blog_boxcontent:hover h4{
  color: var(--e-global-color-white);
}
.design_two .blog_boxcontent:hover p{
  color: var(--e-global-color-white);
} */
.design_two .blog_boxcontent .upper_portion{
  position: relative;
}
.design_two .blog_boxcontent .upper_portion figure img{
  border-radius: 10px 10px 0 0;
}
.design_two .blog_boxcontent .upper_portion .image_content {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  box-shadow: 8px 2px 20px rgb(0 0 0 / 10%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 100px;
  height: 93px;
  width: 93px;
  line-height: 93px;
  text-align: center;
  left: 120px;
  bottom: -42px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.design_two .blog_boxcontent .upper_portion .image_content:hover {
  background-image: linear-gradient(to right, var(--e-button-gradient-2) 0%, var(--e-button-gradient-1) 100%);
  transform: translateY(-5px);
}
.design_two .blog_boxcontent .upper_portion .image_content .content{
  position: relative;
  top: 22px;
}
.design_two .blog_boxcontent .upper_portion .image_content .content h3{
  margin-bottom: 0;
}
.design_two .blog_boxcontent .upper_portion .image_content .content span{
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  display: block;
}
.design_two .blog_boxcontent .lower_portion_wrapper {
  padding: 30px 30px 30px;
}
.design_two .blog_boxcontent .lower_portion_wrapper h4 {
  margin-bottom: 6px;
}
.design_two .blog_boxcontent .lower_portion_wrapper p {
  margin-bottom: 14px;
}
.design_two .blog_boxcontent .lower_portion_wrapper .read_more {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--e-global-color-secondary);
  transition: all 0.3s ease-in-out;
}
.design_two .blog_boxcontent:hover .read_more{
  color: var(--e-global-color-white);
}
.design_two .blog_boxcontent .lower_portion_wrapper .read_more figure {
  display: inline-block;
  margin-left: 8px;
}




.design_two .blog_boxcontent .lower_portion_wrapper .read_more:hover {
  /* transform: translateY(-5px); */
  /* color: var(--e-global-color-secondary); */
  font-size: 22px;
  line-height: 30px;
}





.design_two .blog_boxcontent:hover .arrow{
  filter: brightness(0) invert(1);
}
.design_two .owl-carousel .owl-dots {
  display: block !important;
  margin-top: 40px !important;
  line-height: 0;
}
.design_two .owl-carousel .owl-dots .owl-dot span {
  background: #d3d3d3;
  width: 15px;
  height: 15px;
  margin: 0 8px;
  transition: all 0.3s ease-in-out;
}
.design_two .owl-carousel .owl-dots .owl-dot:hover span {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
}
.design_two .owl-carousel .owl-dots .owl-dot.active span {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  width: 20px;
  height: 20px;
}
.design_two .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.design_two .icon {
  background-color: #ee8953;
  width: 70px;
  height: 70px;
  line-height: 60px;
  text-align: center;
  border-radius: 100px;
  padding: .8rem;
  margin-bottom: 1.4rem;
}
.design_two .icon img{
  width: 100%;
  height: 100%;
}



/* ================== DESIGN THREE ======================================= */
.design_three{
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}
.design_three .service-rightlayer{
  position: absolute;
  top: 0;
  right: 110px;
}
.design_three .service-leftlayer{
  position: absolute;
  bottom: 0;
  left: 118px;
}
.design_three .achievement_content{
  position: relative;
  margin-right: -8px;
}
.design_three .achievement_content .offer-circleimage{
  position: absolute;
  left: -116px;
  top: 10px;
}
.design_three .achievement_content h2{
  margin-bottom: 16px;
}
.design_three .achievement_content p{
  margin-bottom: 38px;
}
.design_three .achievement_content .get_started {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 30px;
  padding: 15px 25px 15px 43px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.design_three .achievement_content .get_started figure {
  display: inline-block;
  margin-left: 20px;
}
.design_three .achievement_content .get_started:hover {
  background-image: linear-gradient(to right, var(--e-global-color-desaturated-blue) 0%, var(--e-global-color-desaturated-blue) 100%);
}
.design_three .achievement_wrapper{
  position: relative;
}
.design_three .achievement_wrapper .achievement-box {
  background: var(--e-global-color-white);
  border-radius: 100px;
  width: 170px;
  height: 170px;
  line-height: 170px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 21px 46px rgb(0 0 0 / 2%);
  position: absolute;
}
.design_three .achievement_wrapper .achievement-box:hover {
  background-image: linear-gradient(to right, var(--e-button-gradient-1) 0%, var(--e-button-gradient-2) 100%);
  transform: translateY(-5px);
}
.design_three .achievement_wrapper .achievement-box .achievement-icon{
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.design_three .achievement_wrapper .achievement-box:hover img{
  filter: brightness(0) invert(1);
}
.design_three .achievement_wrapper .achievement-box .wrapper{
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.design_three .achievement_wrapper .achievement-box:hover h3{
  color: var(--e-global-color-white);
}
.design_three .achievement_wrapper .achievement-box p{
  padding: 0 0;
  /* line-height: 20px; */
} 
.design_three .achievement_wrapper .achievement-box:hover p{
  color: var(--e-global-color-white);
} 
.design_three .achievement_wrapper .achievement-box .number{
  position: relative;
  top: 86px;
}
.design_three .achievement_wrapper .achievement-box .value{
  display: inline-block;
}
.design_three .achievement_wrapper .achievement-box .plus{
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.design_three .achievement_wrapper .achievement-box:hover .plus{
  color: var(--e-global-color-white);
}
.design_three .achievement_wrapper .box1 {
  top: 58px;
  left: 22px;
}
.design_three .achievement_wrapper .box2 {
  top: -42px;
  left: 226px;
}
.design_three .achievement_wrapper .box3 {
  top: 58px;
  right: 0;
}
.design_three .achievement_wrapper .box4 {
  top: 180px;
  left: 222px;
}

@media screen and (max-width: 1440px){
  .design_three .service-rightlayer {top: -168px; right: 20px;}
  .design_three .service-leftlayer {bottom: -200px; left: 20px;}
  .design_three .achievement_content .offer-circleimage {display: none;}
}

@media only screen and (max-width : 1199px){
  .design_three {padding: 145px 0 166px;}
.design_three .service-rightlayer img{width: 170px;}
.design_three .service-leftlayer {bottom: -188px;}
.design_three .service-leftlayer img{width: 170px;}
.design_three .achievement_content h2 {margin-bottom: 10px;}
.design_three .achievement_content p {margin-bottom: 25px;}
.design_three .achievement_content .get_started  {font-size: 18px; line-height: 26px; padding: 12px 18px;}
.design_three .achievement_content .get_started  figure {margin-left: 6px;}
.design_three .achievement_wrapper .achievement-box {width: 180px; height: 180px; line-height: 180px;}
.design_three .achievement_wrapper .achievement-box .achievement-icon {top: -34px;}
.design_three .achievement_wrapper .achievement-box .wrapper {bottom: 24px;}
.design_three .achievement_wrapper .achievement-box .plus {font-size: 24px; line-height: 24px;}
.design_three .achievement_wrapper .achievement-box .text {margin-top: 6px;}
.design_three .achievement_wrapper .achievement-box p {padding: 0 50px;}
.design_three .achievement_wrapper .box1 {left: -16px;}
.design_three .achievement_wrapper .box2 {top: -46px; left: 162px;}
.design_three .achievement_wrapper .box3 {right: -6px;}
.design_three .achievement_wrapper .box4 {top: 174px; left: 160px;}
}

@media only screen and (max-width : 991px) {
  .design_three {padding: 70px 0 176px;}
.design_three .service-rightlayer img {width: 150px;}
.design_three .service-leftlayer img {width: 150px;}
.design_three .achievement_content {text-align: center;}
.design_three .achievement_content h6 {margin-bottom: 4px;}
.design_three .achievement_content h2 {padding: 0 98px;}
.design_three .achievement_content p {margin-bottom: 20px; padding: 0 60px;}
.design_three .achievement_content .get_started {font-size: 16px; line-height: 24px; padding: 10px 20px;}
.design_three .achievement_wrapper .achievement-box {position: relative; width: 170px; height: 170px; line-height: 170px;}
.design_three .achievement_wrapper .achievement-box .icon img{width: 62px;}
.design_three .achievement_wrapper .achievement-box .icon1 img{width: 46px;}
.design_three .achievement_wrapper .achievement-box .number {top: 80px;}
.design_three .achievement_wrapper .achievement-box .plus { font-size: 20px; line-height: 20px;}
.design_three .achievement_wrapper .box1 {left: 65px; top: 170px;}
.design_three .achievement_wrapper .box2 {top: 46px; left: 76px;}
.design_three .achievement_wrapper .box3 {right: -100px; top: 170px;}
.design_three .achievement_wrapper .box4 {top: 0px; left: 0px;}
}

@media only screen and (max-width : 767px){
  .design_three {padding: 60px 0 155px;}
.design_three .service-rightlayer img {width: 125px;}
.design_three .service-leftlayer {bottom: -168px;}
.design_three .service-leftlayer img {width: 125px;}
.design_three .achievement_content p {margin-bottom: 18px; padding: 0;}
.design_three .achievement_content .get_started {font-size: 14px; line-height: 20px; padding: 10px 24px;}
.design_three .achievement_wrapper .achievement-box {width: 160px; height: 160px; line-height: 160px;}
.design_three .achievement_wrapper .achievement-box .icon img {width: 58px;}
.design_three .achievement_wrapper .achievement-box .icon1 img {width: 44px;}
.design_three .achievement_wrapper .achievement-box .wrapper {bottom: 20px;}
.design_three .achievement_wrapper .achievement-box p {line-height: 18px;}
.design_three .achievement_wrapper .box1 {left: 58px; top: 80px;}
.design_three .achievement_wrapper .box2 {top: 42px; left: 116px;}
.design_three .achievement_wrapper .box3 {right: 42px; top: 230px;}
.design_three .achievement_wrapper .box4 {top: 100px; left: 60px;}
}

@media only screen and (max-width : 575px){
  .design_three {padding: 60px 0 120px}
.design_three .service-leftlayer {display: none;}
.design_three .achievement_content h2 {padding: 0;}
.design_three .achievement_wrapper .achievement-box p {padding: 0 37px;}
.design_three .achievement_wrapper .achievement-box {width: 140px; height: 140px; line-height: 140px;}
.design_three .achievement_wrapper .achievement-box .icon img {width: 54px;}
.design_three .achievement_wrapper .achievement-box .icon1 img {width: 40px;}
.design_three .achievement_wrapper .achievement-box .number {top: 72px;}
.design_three .achievement_wrapper .box1 {left: 0px; top: 0px;}
.design_three .achievement_wrapper .box2 {top: 0px; left: 0px;}
.design_three .achievement_wrapper .box3 {right: 0px; top: 00px;}
.design_three .achievement_wrapper .box4 {top: 0px; left: 0px;}
}




/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

/* Style the back side */
.flip-card-back {
  background: #ffffff;
  color: white;
  transform: rotateY(180deg);
  padding: 4rem 1rem 1rem 3rem;
}


.flip-card-front .icon {
  background-color: #ee8953;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 100px;
  padding: .8rem;
  margin-bottom: 1.4rem;
}
.flip-card-front .icon img{
  width: 100%;
  height: 100%;
}


/* ======================== design four =========================== */

.page {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
}

.tabs-controls__link {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #423E37;
  text-transform: uppercase;
  text-decoration: none;
}
.tabs-controls__link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: #423E37;
  border-radius: 2px;
  margin: auto;
  content: "";
  transition: width 0.4s;
}

.tabs-controls__link--active:after {
  width: 100%;
}

.cards-container {
  position: relative;
  z-index: 1;
  width: 800px;
  height: calc(100vh - 205px);
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #423E37;
  box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 40px;
  transition: transform 0.3s, opacity 0.2s;
}
.card.hidden {
  z-index: 100;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}
.card.hidden h1 {
  color: #fff;
  transition: color 0.5s;
}
.card.hidden:nth-of-type(1) {
  transform: rotate(-69deg) translateX(101%) translateY(-52%) scale(1) skewX(4deg) skewY(7deg);
}
.card.hidden:nth-of-type(2) {
  transform: rotate(-11deg) translateX(101%) translateY(-56%) scale(0.4) skewX(4deg) skewY(1deg);
}
.card.hidden:nth-of-type(3) {
  transform: rotate(-62deg) translateX(101%) translateY(-8%) scale(0.5) skewX(2deg) skewY(1deg);
}
.card.hidden:nth-of-type(4) {
  transform: rotate(-29deg) translateX(101%) translateY(-43%) scale(0.8) skewX(1deg) skewY(3deg);
}
.card.hidden:nth-of-type(5) {
  transform: rotate(-83deg) translateX(101%) translateY(-7%) scale(0.7) skewX(6deg) skewY(8deg);
}
.card.hidden:nth-of-type(6) {
  transform: rotate(-27deg) translateX(101%) translateY(-52%) scale(0.3) skewX(1deg) skewY(2deg);
}
.card:nth-of-type(1) {
  z-index: 5;
  transform: translateX(0px) translateY(0px);
}
.card:nth-of-type(2) {
  z-index: 4;
  transform: translateX(10px) translateY(10px);
}
.card:nth-of-type(3) {
  z-index: 3;
  transform: translateX(20px) translateY(20px);
}
.card:nth-of-type(4) {
  z-index: 2;
  transform: translateX(30px) translateY(30px);
}
.card:nth-of-type(5) {
  z-index: 1;
  transform: translateX(40px) translateY(40px);
}
.card:nth-of-type(6) {
  z-index: 0;
  transform: translateX(50px) translateY(50px);
}